<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="clubDAO" class="com.lab2.registroDeJugadores.model.dao.club.ClubJdbcTemple">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>